.content{
    margin: 5% 0;
}
h3.title-acc{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
}
.content .container{
    width: 50%;
    margin: 0 auto;
}
.content .container form{
    border: 5px solid #81d2c2;
    padding: 5%;
}
.content .container form .box{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.content .container form .box a{
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: #434343;
    transition: 0.4s;
}
.content .container form .box a:hover{
    text-decoration: underline;
    color: #005cbf;
}
.content .container form label{
    font-weight: 600;
    font-size: 15px;
}
.content .container form .box input{
    padding: 5px 10px;
    border: 2px solid #777;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
}
.content .container form  button{
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    box-shadow: none;
}
@media screen and (max-width: 1024px){
    .content .container {
        width: 100%;
        margin: 0 auto;
    }
}