/*product*/
.product{
    margin: 25px 0;
    padding: 25px 0;
}
.product .view-all{
    margin: 10px auto 0 auto;
    text-align: right;
}
.product .view-all a{
    color: white;
    padding: 8px 60px;
    background-color: #6db4a4;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 30px;
    font-weight: 600;
    letter-spacing: 1px;
}
.product .view-all a:hover{
    opacity: 0.8;
}
.product .view-all a i{
    font-size: 14px;
    margin-left: 10px;
}
 h4.title{
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 50px;
}
.list-product,
.list-blog,
.list-footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
.list-product-item{
    width: calc((100% - 60px) / 4);
    margin-bottom: 15px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
}
.top-product{
    height: 200px;
    padding: 5px;
}
.top-product img,
.top-blog img{
    height: 100%;
    display: block;
    margin:  0 auto;
    transition: 0.4s;
}
.top-product img:hover{
    opacity: 0.8;
}
.bot-product,
.bot-blog{
    padding: 10px;
}
h3.name-product{
    font-size: 15px;
    line-height: 19px;
    font-weight: 600;
    text-transform: lowercase;
    margin-bottom: 25px;
}
h3.name-product a{
    color: #333;
    transition: 0.4s;
}
h3.name-product a:hover{
    opacity: 0.8;
}
.price-product{
    display: flex;
    justify-content: space-between;
}
p.price,
p.sale{
    font-size: 18px;
    color: #333;
    font-weight: 700;
    margin-right: 10px;
}
p.sale{
    text-decoration: line-through;
    color: #a3a3a3;
}
a.detail {
    padding: 8px 15px;
    border-radius: 30px;
    border: 1px solid #6db4a4;
    background-color: #6db4a4;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    transition: 0.3s;
    display: block;
    margin: 0 auto;
    width: 70%;
    text-align: center;
}
a.detail:hover{
    background-color: #81d2c2;
}

/*css blog*/
.blog{
    background-color: #ddd;
    margin: 25px 0 0 0;
    padding: 25px 0;
}
.list-blog-item{
   width: calc((100% - 60px )/3);
    display: flex;
    flex-direction: column;
}
.top-blog {
    height: 250px;
}
.top-blog img{
    width: 100%;
}
h3.title-blog{
    font-size: 16px;
    font-weight: 600;
    margin: 8px 0;
    line-height: 20px;
    text-transform: uppercase;
}
h3.title-blog a{
    color: #333;
}
p.date-time{
    font-size: 12px;
    font-weight: 400;
    color: #333;
}
a.read-more{
    font-weight: 700;
    color: #333;
    font-size: 14px;
    text-decoration: underline!important;
}
h3.title-blog a:hover,
a.read-more:hover{
    opacity: 0.8;
}
/*css new-letter*/
.new-letter{
    background: #ddd url("../images/bg-letter.jpg") no-repeat center center;
    background-size: cover;
    height: 300px;
    padding: 50px 0;
}
form.letter{
    margin:  0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
}
form.letter input{
    padding: 10px 15px;
    border: none;
    outline: none;
    width: 35%;
    font-size: 14px;
}
form.letter input::placeholder{
    font-size: 14px;
}
form.letter button{
    border: none;
    padding: 0 15px;
    background-color: #005cbf;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    transition: 0.4s;
}
form.letter button:hover{
    background-color: #004b95;
}
/*css footer*/
.footer {
    height: 50px;
    background-color: #6db4a4;
}
.footer p.text {
    line-height: 50px;
    color: #fff;
    font-size: 15px;
    margin-bottom: 0;
}
.social ul{
    margin-bottom: 0;
}
.social ul li{
    display: inline-block;
    line-height: 50px;
    margin-right: 10px;
}
.social ul li a{
    color: #fff;
    font-size: 18px;
}
.social ul li a:hover{
    color: #406e62;
}